footer {
  text-align: center;
  background-color: #000000; }

nav {
  background-color: #050505d7; }
  nav div {
    margin: 4px; }
  nav div ul li {
    padding: 15px;
    font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  color: #f5f5f5;
  background: linear-gradient(#141414, #202020, #272727);
  font-family: "Inter", sans-serif; }

.row {
  padding: 10px;
  text-align: center; }

.rrss p {
  font-size: 15px; }

.introduccion {
  background-color: #0000005a;
  height: 100%;
  margin-top: 100px; }
  .introduccion .introducciontexto {
    padding: 40px;
    text-align: center; }

.nuestrahcontent, .fotos, .videos, .musica {
  width: 100%;
  text-align: center;
  background-color: #000000; }
  .nuestrahcontent div, .fotos div, .videos div, .musica div {
    padding: 20px; }
    .nuestrahcontent div img, .fotos div img, .videos div img, .musica div img {
      width: 350px; }

.container-fluid {
  padding: 10px; }

.contacto {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: black; }
  .contacto input {
    margin: 5px; }
  .contacto div {
    padding: 10px;
    text-align: center; }
  .contacto .boton {
    border-radius: 5%;
    border: none; }
    .contacto .boton:hover {
      background-color: #000000;
      color: white; }

.fotos, .videos {
  height: 100%;
  width: 100%; }
  .fotos .foto1, .videos .foto1, .nuestrahcontent div img .fotos .img1__nuestraHistoria, .nuestrahcontent div img .videos .img1__nuestraHistoria, .fotos div img .img1__nuestraHistoria, .videos div img .img1__nuestraHistoria, .musica div img .fotos .img1__nuestraHistoria, .musica div img .videos .img1__nuestraHistoria, .nuestrahcontent div img .fotos .img2__nuestraHistoria, .nuestrahcontent div img .videos .img2__nuestraHistoria, .fotos div img .img2__nuestraHistoria, .videos div img .img2__nuestraHistoria, .musica div img .fotos .img2__nuestraHistoria, .musica div img .videos .img2__nuestraHistoria, .nuestrahcontent div img .fotos .img3__nuestraHistoria, .nuestrahcontent div img .videos .img3__nuestraHistoria, .fotos div img .img3__nuestraHistoria, .videos div img .img3__nuestraHistoria, .musica div img .fotos .img3__nuestraHistoria, .musica div img .videos .img3__nuestraHistoria {
    margin: 0 auto; }
    .fotos .foto1:hover, .videos .foto1:hover, .nuestrahcontent div img .fotos .img1__nuestraHistoria:hover, .nuestrahcontent div img .videos .img1__nuestraHistoria:hover, .fotos div img .img1__nuestraHistoria:hover, .videos div img .img1__nuestraHistoria:hover, .musica div img .fotos .img1__nuestraHistoria:hover, .musica div img .videos .img1__nuestraHistoria:hover, .nuestrahcontent div img .fotos .img2__nuestraHistoria:hover, .nuestrahcontent div img .videos .img2__nuestraHistoria:hover, .fotos div img .img2__nuestraHistoria:hover, .videos div img .img2__nuestraHistoria:hover, .musica div img .fotos .img2__nuestraHistoria:hover, .musica div img .videos .img2__nuestraHistoria:hover, .nuestrahcontent div img .fotos .img3__nuestraHistoria:hover, .nuestrahcontent div img .videos .img3__nuestraHistoria:hover, .fotos div img .img3__nuestraHistoria:hover, .videos div img .img3__nuestraHistoria:hover, .musica div img .fotos .img3__nuestraHistoria:hover, .musica div img .videos .img3__nuestraHistoria:hover, .fotos .foto2:hover, .videos .foto2:hover, .fotos .foto3:hover, .videos .foto3:hover {
      transform: scale(1.1, 1.1); }

.video1, .video2 {
  padding: 5px; }

.musica {
  margin: 0 auto; }
  .musica .row {
    background-color: #1212128a;
    padding: 50px; }
    .musica .row .tabla1 {
      margin: 0 auto; }
    .musica .row ol {
      list-style: none;
      margin: 0 auto; }
  .musica .portadahuir {
    text-align: center;
    width: 60%; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: gray; }
