@import "./partials/footer";
@import "./partials/nav";
@import "./partials/variables";

@mixin sizesimg($width, $height) {
    height: $height;
    width: $width;
    

    
}

//codigo css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $tc-blanco;
    background: linear-gradient(#141414, #202020, #272727);
    margin: auto;
    font-family: $base-font;

}

.row{
    padding: 10px;

}
.musica{
    display: $oculto;
}

.rrss{
    p{
        font-size: 15px;
    }
}
.introducciontexto{
    text-align: center;
    padding: 40px;

}
.nuestrahcontent{
   width:50%;
   text-align: center;
   background-color: $bg-negro;
   

.row{
    text-align: center;
}
  div{
     padding: 10px;
     margin: auto;
   img{
      width: $size-card;
      height: $size-card;
   }
  }
}
.container-fluid{
    padding: 10px;
}
.contacto{
    @extend .nuestrahcontent;
    width: 100%;
}
.fotos{
   
    @extend .contacto;
    @include sizesimg(100%,100% )
    
}
