@import "./partials/footer";
@import "./partials/nav";
@import "./partials/variables";

@mixin sizesimg($width, $height) {
    height: $height;
    width: $width;
    

    
}
@mixin bg-color($bg-color){
    background-color: $bg-color;
}
    


//codigo css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
    color: $tc-blanco;
    background: linear-gradient(#141414, #202020, #272727);
    font-family: $base-font;
    width: 100%;

}

.row{
    padding: 10px;
    text-align: $centro;
    margin: 0 auto;
}


.rrss{
    p{
        font-size: 15px;
    }
}
.introduccion{
    background-color:#0000005a;
    height: 100%;
    margin-top: 100px;
    
.introducciontexto{
    padding: 40px;
    text-align: $centro;
    

}
}
.nuestrahcontent{
   width:100%;
   text-align: $centro;
   background-color: $bg-negro;
 
  div{ 
      padding: 20px;
     

   img{
      width: $size-card;

      
      .img1__nuestraHistoria{
          @extend .foto1;
          
          
      }
      .img2__nuestraHistoria{
        @extend .foto1;
       
        
    }
    .img3__nuestraHistoria{
        @extend .foto1;
        
        
    }
   }
  }
}
.container-fluid{
    
    padding: 10px;
}
.contacto{
    width: 100%;
    padding: 20px;
   margin:0 auto;
   text-align: $centro;
   @include bg-color(black);
input{
    margin: 5px;
}

 div{
     padding: 10px;
     text-align: center
 }
 .boton{
     border-radius: 5%;
     border: none;
   &:hover{
     background-color: #000000;
     color: white
 }
 }
 
    
}

.fotos{
   @extend .nuestrahcontent;   
    @include sizesimg(100%,100% );
    .foto1{ margin: 0 auto;
        
            

    &:hover{
        transform: scale(1.1,1.1)
    }
    }
    .foto2:hover{
        @extend .foto1:hover
    }
    .foto3:hover{
        @extend .foto2:hover
    }

    
}
.videos{
    @extend .fotos;
   
    }
    .video1{
        padding: 5px
    }
    .video2{
        @extend .video1
    }

.musica{
    @extend .nuestrahcontent;
   margin:0 auto;
   .row{
    margin: 0 auto;
    width: 100%;
    background-color: #1212128a;
        .tabla1{
    width: 100px;
        
    }
    
    ol{
        list-style: none;
        margin: 0 auto;
    }
}

.portadahuir{
    text-align: center;
    width: 60%;
}
}


a{
    text-decoration: none;
    color: white;
    &:hover{ color:gray;
}
}
ol{
    padding: 0;
}
